.guesses-title {
  font-size: 1.6em;
  font-weight: bold;
}

.guesses-container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.guess {
  max-width: 300px;
  text-overflow: ellipsis;
  min-height: 12px;
}
