.main {
  background-color: rgb(44, 44, 44);
  height: 100vh;
  color: white;
  font-size: 1.2em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.content-container {
  background-color: rgb(44, 44, 44);
  height: 90vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.central-content {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 50vw;
  justify-content: space-between;
  max-width: 750px;
}

.clues-answers-row {
  display: flex;
  height: 20vh;
}

.input-area {
  align-items: center;
  justify-content: center;
  display: flex;
}

.divider {
  border-left: 1px solid rgb(167, 167, 167);
  margin-left: 16px;
  margin-right: 16px;
}
